doctype html
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(author="monkeysbrain")
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/template-style.css")
	title Атвтомобильная экскурсия
body
	.main
		.card
			.card-author
				img(src="img/ava-1.jpg", alt="photo").card-author-avatar
				p.card-author-name Светлана Захарова-Тататата
			.card-img
				img(src="img/photo-card-1.jpg", alt="photo-card")
			p.card-cost 130 <span class="light">&euro;</span>
			p.card-description Неаполитаннский Калейдоскоп
		.card
			.card-author
				img(src="img/ava-2.jpg", alt="photo").card-author-avatar
				p.card-author-name Кирилл и Татьяна
			.card-img
				img(src="img/photo-card-2.jpg", alt="photo-card")
			p.card-cost 650 <span class="light">&dollar;</span>
			p.card-description Автомобильная экскурсия: Бретань
				br
				| за один день (через Мон-Сен-Мишель)